<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
<title>About Us</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/futsal/css/style.css" />
</head>
<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="logo">
			<a href="home">Futsal.lk <span>by AccodeMe</span></a>
		</div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Home</a></li>
			<li><a href="bookings">Booking</a></li>
			<li><a href="about_us">About us</a></li>
			<li><a href="login">Log In</a></li>
		</ul>
	</nav>

	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>Empowering sports enthusiasts with seamless booking experiences, one click at a time.</p>
				<h2>About Us</h2>
			</header>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<!-- <p>maecenas sapien feugiat ex purus</p> -->
						<h2>Welcome to our Indoor Sports Booking System!</h2>
					</header>
					<p>At Futsal.lk, we are passionate about bringing sports
						enthusiasts together and providing a seamless booking experience
						for indoor sports facilities. Our mission is to make it easy for
						you to find and reserve your favorite sports venues, whether it's
						for a casual game with friends or a competitive league match.</p>

					<p>Why Choose Us:</p>
					
					<ul> 
					<li>Extensive Facility Selection: Our platform offers a wide range of indoor sports facilities, including futsals, cricket grounds, badminton courts, and football pitches. Whatever your sport, we've got you covered!
					<li>Real-Time Availability: With our real-time availability feature, you can check the current status of your preferred sports venues and secure your booking instantly.
					<li>Easy Booking Process: Our user-friendly interface ensures a smooth and hassle-free booking process. Simply select your desired time slot, make a payment, and you're good to go!
					<li>Secure Payment Gateway: Your security is our top priority. We have integrated a secure payment gateway that allows you to make payments with confidence.
					<li>Dedicated Support Team: Have questions or need assistance? Our dedicated support team is here to help you every step of the way.
					</ul>
					
					<p>Our Vision:</p>
					<p>At Futsal.lk, we envision a world where sports enthusiasts can easily access and book indoor sports facilities, fostering a vibrant and active community. We strive to be the go-to platform for all your sports booking needs, revolutionizing the way you discover and enjoy sports.
					</p>
					<p>Our Commitment:</p>
					<ul>
					<li>Customer Satisfaction: Your satisfaction is at the heart of everything we do. We continuously work to improve our services and enhance your overall experience.
					<li>Reliability: We are committed to providing accurate and up-to-date information about sports venues, ensuring you always have reliable data at your fingertips.
					<li>Transparency: We believe in transparency and honesty. There are no hidden fees, and all the information you need is readily available on our platform.
					
					</ul>
					
					<p>Join us on this exciting journey as we bring the thrill of indoor sports closer to you. Whether you're a seasoned player or a recreational enthusiast, Futsal.lk is your ultimate destination for sports booking.</p>
					<p>Thank you for choosing Futsal.lk, and we look forward to being a part of your sporting adventures!</p>
				
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span
						class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span
						class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-envelope-o"><span
						class="label">Email</span></a></li>
			</ul>
		</div>
	</footer>

	<!-- <div class="copyright">
		Made with <a href="https://templated.co/">Templated</a>.
	</div> -->

	<!-- Scripts -->
	<script src="/futsal/js/jquery.min.js"></script>
	<script src="/futsal/js/jquery.scrollex.min.js"></script>
	<script src="/futsal/js/skel.min.js"></script>
	<script src="/futsal/js/util.js"></script>
	<script src="/futsal/js/main.js"></script>

</body>
</html>